<div>
  <h2>{{name}}</h2>
  <h3>{{giro}}</h3>
  <h5>{{owner}}</h5>
  <hr>
  <a href="/productos/new/{{_id}}">Agrega productos</a>
  <a href="/tienditas/update/{{_id}}">Editar</a>
  <a href="/tienditas/delete/{{_id}}">Borrar</a>
</div>