<div>
  <h1>Crea una tiendita!!!</h1>
  <div>{{error}}</div>
  <form action="{{action}}" method="POST">
    <p>
      Nombre:
      <input type="text" name="name" id="" value="{{tiendita.name}}">
    </p>
    <p>
      Giro Comercial:
      <input type="text" name="giro" id="" value="{{tiendita.giro}}">
    </p>
    <p>
      Dueño:
      <input type="text" name="owner" id="" value="{{tiendita.owner}}">
    </p>
    <p>
      <input type="submit" value="Guardar">
    </p>    
  </form>
</div>